@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form>
    <input type="text" name="message" id=" = msg" />
    <input type="button" name="Send" value="Send" id="sendMsg" />
</form>

<div id="chat">

</div>
